/* MAIN ATTRIBUTES */
html {
    background-color: white;
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    padding-right: 0 !important;
    padding-left: 0 !important;
    border: 1px solid #607087
}

a {
    color: black !important;
}
/* TITLES ATTRIBUTES */

h1 {
    font-size: 20px;
}

h2 {
    margin-top: 4vh !important;

    font-size: 15px;
}

h1,
h2 {
    margin-left: 5vh;
}

h3 {
    color: #607087 !important
}

hr {
    background: #8eb9bb;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

#hrTitle {
    margin-left: 5vh;
    margin-bottom: 5vh !important;
    width: 15%;
}

/* TABLES CLASSES ATTRIBUTES */

table,
td,
th {
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    table-layout: fixed;
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}


#leftTd {
    margin-left: 4vw;
}
#leftTdFirst{
    display: flex;
    align-items: center; 
    padding-left: 11px
}

#leftTd::before {
    content: "\2022";
    color: #8eb9bb;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}
.circle {
    background-color: #8eb9bb;
    border: 3px solid #FFF;
    border-radius: 18px;
    box-shadow: 0 0 2px #8eb9bb;
    height: 10px;
    width: 10px;
    margin-right: 10px;
  }

/* LEFT SECTION CLASSES ATTRIBUTES */

#leftSection {
    background-color: #8eb9bb;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: flex;
    flex-direction: column;
}

#portrait {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 2vh
}

#portraitMobile {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 2vh;
    display: none;
}

#contact {
    margin-left: 10%;
}

#titleContact {
    text-align: center;
    background-color: #607087;
    color: #8eb9bb !important
}

#subtitlesContact {
    margin-top: 1vh
}

#email {
    word-break: break-all;
    padding: 2px;
}

#aboutMeDescription {

    margin-top: 4vh;
    text-align: left;
    padding-right: 4vh !important;
    padding-left: 4vh !important;
}

#hobbies {
    margin-top: auto;
    margin-bottom: 30vh
}
.fa-gamepad,
.fa-basketball-ball,
.fa-table-tennis {
    color: #607087;
    font-size: 40px;
    margin-top: 1rem;
}
#hobbiesList {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 3vh;
}
/* RIGHT SECTION CLASSES ATTRIBUTES */

#recommandationName {
    margin-top: 3vh !important;
}

#prenom {
    color: #8eb9bb;
    background-color: #fff;
}


.fa-graduation-cap,
.fa-briefcase,
.fa-pen {
    font-size: 20px;
    line-height: 3 !important;
    color: #8eb9bb;
    margin-right: 1rem;
    margin-left: 1rem;
}

@media (max-width: 640px) {

    /* CSS mobile ici */
    #portrait {
        display: none;
    }

    #portraitMobile {
        display: block;
    }
}